/* General styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Consistent left and right padding */
}

h2 {
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

p {
  font-size: 1em;
  margin: 0 0 20px 0;
  line-height: 1.6;
  text-align: justify;
}

/* About Us section */
.about-us {
  padding: 20px;
}

.about-us-description {
  padding: 0 20px; /* Consistent left and right padding for description */
}

.image-container {
  position: relative;
  height: 800px; /* Set a specific height for the container */
  overflow: hidden;
}
.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-us-image {
  object-fit: cover; /* Ensures the image covers the container */
}

/* Responsive styles */
@media (max-width: 767px) {
  .container {
    padding: 0 15px; /* Reduced padding for smaller screens */
  }

  .about-us-description, .section-content {
    text-align: center;
    padding: 0 15px; /* Reduced padding for smaller screens */
  }

  .about-us img, .image-gallery img {
    width: 100%;
    height: auto;
  }

  .section-title {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-md-6 {
    width: 50%;
    padding: 15px;
  }

  .about-us-description {
    text-align: left;
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 30px; /* Increased padding for larger screens */
  }

  .section-title {
    font-size: 2em;
  }
}

/* Image Gallery */
.image-gallery {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
}

/* Padding between 'How it Works' content */
.section-content p {
  margin-bottom: 30px; /* Increase padding between paragraphs */
}
