.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  .select-container {
    position: relative;
    display: inline-block;
    width: 550px; /* Increase the width as needed */
  }
  
  .select-container select {
    width: 100%; /* Ensure the select box takes the full width of the container */
    padding-right: 30px; /* Adjust padding to make space for the arrow */
    -webkit-appearance: none; /* Remove default arrow */
    -moz-appearance: none; /* Remove default arrow */
    appearance: none; /* Remove default arrow */
    box-sizing: border-box; /* Include padding in the element's width and height */
  }
  
  .select-container::after {
    content: '▼'; /* Unicode character for the arrow */
    position: absolute;
    right: 10px; /* Position the arrow inside the container */
    top: 70%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't intercept clicks */
  }
  form-group{
    margin-bottom: 20px;
  }
  .flex-container {
    display: flex;
    align-items: center;
  }
  
  .h3-container {
    margin-right: 20px;
  }
  
  .arrow-container {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensures clicks pass through to select element */
  }
  
  .arrow-wrapper {
    width: 12px; /* Increase width of the arrow */
    height: 12px; /* Increase height of the arrow */
    border-left: 6px solid transparent; /* Adjust size of the arrow */
    border-right: 6px solid transparent; /* Adjust size of the arrow */
    border-top: 8px solid #201f1f; /* Arrow color and height */
  }